* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

.header__nav {
    height: 73px;
    background-color: white;
    box-shadow: 5px 0px 10px rgba(51, 51, 51, 0.212);
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
}

.header__nav-username {
    display: flex;
    align-items: center;
    user-select: none;
}

.header__nav-username-logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(327deg, #D24DFF, #00698C);
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    margin-right: 10px;
}

.main_container {
    display: grid;
    margin-top: 110px;
    padding: 0px 60px;
    grid-template-columns: 300px 1fr;
}

.main__search {
    width: 286px;
    background-color: #F8F5FD;
    border-radius: 9px;
    padding: 30px;
    position: fixed;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    transition: 500ms;
}

.dropdown-content p:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid rgb(214, 214, 214);
    height: 30px;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.dropbtn::after {
    content: '';
    width: 0px;
    height: 0px;
    border: 4px transparent solid;
    border-top: 4px rgb(46, 46, 46) solid;
    position: absolute;
    top: 18px;
    left: calc(100% - 20px);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 40px;
    left: 0px;
    width: 100%;
    height: 200px;
    z-index: 999;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main__search .dropdown {
    margin-top: 10px;
    margin-bottom: 30px;
}

.main_container button {
    width: 100%;
    padding: 15px 20px;
    border: none;
    background-color: #8058D2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.main_container button:hover {
    background-color: #9369e9;
}

.main__vacancy-list button {
    width: 230px;
}
.main__vacancy-list{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.main__vacancy-list-item{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#F8F5FD;
    padding: 20px;
    border-radius:9px;
    cursor: pointer;
}
.main__vacancy-list-header {
    font-size: 26px;
    margin-bottom: 5px;
}
.main__vacancy-list-apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.fixed{
    position: relative;
}
